PORT=5000
MONGODB_URI=mongodb+srv://naveenbairagi0195_db_user:bTa9BWEZcUmYVxeD@studentcluster.tikqd7s.mongodb.net/studentdb?retryWrites=true&w=majority&appName=StudentCluster
REDIS_URL=redis://localhost:6379
